<div class="CenterMessages">
    <h3 class="titleMessages">Centro de Mensajes</h3>
    <label for="name" class="label-title">Nombre:</label>
    <input id="name" class="form-control" type="text" placeholder="Escribe aquí tu nombre" autoComplete='off'/>
    <label for="lastName" class="label-title">Apellido:</label>
    <input id="lastName" class="form-control" type="text" placeholder="Escribe aquí tu apellido" autoComplete='off'/>
    <label for="age" class="label-title">Edad:</label>
    <input id="age" class="form-control" type="number" placeholder="Escribe aquí tu edad" autoComplete='off'/>
    <label for="nickName" class="label-title">Apodo:</label>
    <input id="nickName" class="form-control" type="text" placeholder="Escribe aquí tu apodo" autoComplete='off'/>
    <label for="avatar" class="label-title">Avatar:</label>
    <input id="avatar" class="form-control" type="text" placeholder="Escribe aquí la url de tu avatar" autoComplete='off'/>
    <label for="chatBox" class="label-title">Mensaje:</label>
    <input id="chatBox" class="form-control" placeholder="Escribe aquí tu mensaje"/>
    <input type="submit" id="success" class="btn btn-success">
    </br>
</div>
<div class="History">
    <span id="log"></span>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>

<style>
    .CenterMessages{
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 0.5px black solid;
        padding-bottom: 20px;
    }
    .form-message{
        margin-bottom: 30px;
        padding: 3px;
        padding-left: 10px;
    }
    .titleMessages{
        margin-bottom: 20px;
    }
    .label-title{
        font-size: 16px;
        font-weight: bold;
        color: green;
    }
    .History{
        margin-bottom: 30px;
    }
</style>